<h1>Name: <%= @animal.name %></h1>
<h2>Dob: <%= @animal.date_of_birth %></h2>
<h2>Type: <%= @animal.type %></h2>
<h2>Owner: <%= @animal.owner_name %></h2>
<h2>Notes: <%= @animal.notes %></h2>
<h2>Vet id: <%= @animal.vet_id %></h2>